body{
    background-color: lightgray;
    margin: 0;
}
div{
    box-sizing: border-box;
}
header{
   background: white;
   padding: 10px;
}
header h1{
    margin: 0;
}
.post{
    background: white;
    margin-top: 10px;
}

.post img{
    width: 100%;
}
.post .fotoTags div:first-child {
    display: inline-block;
    width: 80%;
    padding-left: 5px;
}
.post .fotoTags div:last-child{
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
    color: grey;
}
.post h2 .post p{
    padding: 10px;
}

.container{
    margin: auto;
    width: 600px;
}
p{
    padding-left:5px;
}